{% extends "base.html" %}

{% block title %}Iniciar Sesión{% endblock %}

{% block content %}
<div class="max-w-md mx-auto bg-white shadow-lg rounded-lg p-6 mt-6">
    <h2 class="text-2xl font-bold mb-4 text-gray-800">Iniciar sesión</h2>

    <form method="POST">
        {% csrf_token %}
        <div class="flex flex-col mt-2">
            <label class="text-gray-700 font-semibold">Usuario</label>
            {{ form.username }}
        </div>
        <div class="flex flex-col mt-2">
            <label class="text-gray-700 font-semibold">Contraseña</label>
            {{ form.password }}
        </div>

        <button type="submit" class="w-full bg-indigo-600 hover:bg-indigo-700 text-white font-semibold py-2 px-4 rounded-lg mt-4">
            Iniciar sesión
        </button>
    </form>
</div>
{% endblock %}